html, body {
  height: 92vh;
  margin: 0;
  font-family: sofia-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

body {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
}

.new-site-header {
  line-height: 0.5rem;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  margin-bottom: auto;
}

.asterisk {
  color: #f3803c;
  font-weight: bold;
}

html > * {
  box-sizing: border-box;
}

body {
  display: flex;
}

.hero {
  margin-top: auto;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0;
  font-weight: 400;
}

h3 {
  font-weight: 200;
  margin: 0;
}

.logo-svg {
  max-width: 308px;
}

.desktop {
  display: none;
}

.email {
  font-weight: 600;
}

.postcode {
  text-transform: none;
}

.accent-colour {
  color: #f3803c;
}

.contact {
  margin-top: auto;
  font-weight: 200;
  font-size: 1rem;
}

.contact > * {
  display: block;
}

.email {
  margin-bottom: 1rem;
}

@media(min-width:650px){
  body {
    padding: 2rem;
  }

  .hero {
    margin-top: 0;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }
  h2,h3 {
    display: inline;
  }
  .subline {
    line-height: 0;
    position: relative;
    left: 1px;
    text-align: left;
    
    font-size: 13.96px;
    top: 5px;
  }
  .logo-svg {
    margin-bottom: -25px;
    max-width: none;

    width: 588px;
  }
}
@media(min-width:850px){
  .subline {
    font-size: 19.45px;
    position: relative;
    top: -1px;
  }
  .logo-svg {
    width: 818px;
  }
  .contact > * {
    display: inline;
  }
}
@media(min-width:992px){}
@media(min-width:1200px){}

@media(min-height:650px){
  html, body {
    height: 97vh;
  }
}
