html, body {
  height: 96vh;
  margin: 0;
  font-family: sofia-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
}

.new-site-header {
  line-height: 0.5rem;
  margin-left: auto;
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
}

.asterisk {
  color: #f3803c;
  font-weight: bold;
}

html > * {
  box-sizing: border-box;
}

body {
  display: flex;
}

h1 {
  letter-spacing: -4.4pt;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  font-weight: 400;
}

h3 {
  font-weight: 200;
  margin: 0;
}
.logo {
  /* font-size: 15.8vw; */
  font-size: 52pt;
}
.logo.mud {
  font-weight: 700;
}

.logo.orange {
  font-weight: 300;
}

.desktop {
  display: none;
}

.email {
  font-weight: 600;
}

.postcode {
  text-transform: none;
}

.accent-colour {
  color: #f3803c;
}

.contact {
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.contact > * {
  display: block;
}

.email {
  margin-bottom: 1rem;
}

@media(min-width:576px){
  .mobile {
    display: none;
  }
  .desktop {
    display: initial;
  }
  h2,h3 {
    display: inline;
  }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
